name: Build LaTeX PDF

on:
  push:
    paths:
      - "**/*.tex"
      - "**/*.bib"
      - "**/*.sty"
      - ".github/workflows/**"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: wtfjoke/setup-tectonic@v3

      - name: Build PDF
        run: tectonic asacv.tex

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: pdf
          path: asa-cv.pdf
